@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;500;900&display=swap');

:root {
  font-family: 'Source Code Pro', monospace;
}

body {
  display: grid;
  padding: 5rem;
}
